.benefits-section {
}

.benefits-bg-wrapper {
  background: linear-gradient(180deg, #10507c 0%, #6a93b9 100%);
  padding-top: 40px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.benefits-container {
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    gap: 32px;
  }
}

.benefits-list-item {
  background: #6a93b9;
  border: 2px solid #e9c125;
  border-radius: 16px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  max-width: 160px;
  min-height: 220px;

  @include media(desktop) {
    padding: 6px 22px;
    gap: 16px;
    max-width: 240px;
    min-height: 228px;
  }
}

.benefits-img {
  @include media(desktop) {
  }
}

.benefits-item-title {
  font-family: 'Wendy One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #081d2c;

  @include media(desktop) {
    font-size: 18px;
  }
}

.benefits-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.01em;
  text-align: center;
  color: #081d2c;

  @include media(desktop) {
    font-size: 14px;
  }
}
