.contact-section {
}

.contact-title {
  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  background: linear-gradient(180deg, #10507c 0%, #6a93b9 100%);
  padding-top: 40px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 40px;
    padding-bottom: 56px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-email-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.contact-email-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #fffdfd;

  @include media(desktop) {
    font-size: 16px;
  }
}

.contact-email-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #fffdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    font-size: 16px;
  }
}

.email-icon {
  @include media(desktop) {
  }
}
