.hero-section {
  background: linear-gradient(180deg, #10507c 0%, #6a93b9 100%);

  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 68px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 92px;
    padding-bottom: 82px;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-top-text {
  font-family: 'Wendy One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #fffdfd;
  margin-bottom: 12px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.hero-btn-wrapper {
  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 110px;
  }
}

.hero-text {
  font-family: 'Wendy One', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fffdfd;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 24px;
    margin-bottom: 0;
  }
}

.hero-btn {
  box-shadow: 0 4px 4px rgba(8, 29, 44, 0.4),
    inset 0 4px 24px 6px rgba(255, 253, 253, 0.2);
  background: #e9c125;
  border: 1px solid #fffdfd;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #081d2c;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #fffdfd;
  }

  @include media(desktop) {
    margin: 0;
  }
}
