.progression-section {
}

.progression-title {
  max-width: 177px;

  @include media(desktop) {
    max-width: max-content;
  }
}

.progression-bg-wrapper {
  background: linear-gradient(180deg, #10507c 0%, #6a93b9 100%);
  padding-top: 40px;
  padding-bottom: 48px;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.progression-container {
}

.progression-subtitle {
  color: #fffdfd;
  max-width: 303px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}

.progression-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  @include media(desktop) {
    flex-direction: row;
    gap: 32px;
  }
}

.progression-list-item {
  background: #6a93b9;
  border: 2px solid #e9c125;
  border-radius: 16px;
  padding: 10px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  max-width: 330px;
  min-height: 140px;

  @include media(desktop) {
    padding: 6px 22px;
    gap: 16px;
    max-width: 260px;
    min-height: 180px;
  }
}

.progression-img {
  @include media(desktop) {
  }
}

.progression-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #081d2c;

  @include media(desktop) {
  }
}
