.world-section {
  background: #fffdfd;
}

.world-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 181px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/world/world-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 56px;
    padding-bottom: 573px;
    max-width: 1440px;
    background-image: url(../img/world/world-bg-desk.png);
  }
}

.world-container {
}

.world-title-wrapper {
  @include media(desktop) {
  }
}

.world-title {
  max-width: 182px;

  @include media(desktop) {
    max-width: max-content;
  }
}

.world-subtitle {
  @include media(desktop) {
  }
}

.world-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #081d2c;

  @include media(desktop) {
    font-size: 16px;
    max-width: 894px;
    margin-left: auto;
    margin-right: auto;
  }
}
