<section class="section benefits-section" id="benefits">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title benefits-title">WHY PLAYERS LOVE IT</h2>
    </div>
  </div>
  <div class="benefits-bg-wrapper">
    <div class="container benefits-container">
      <ul class="benefits-list">
        <li class="benefits-list-item">
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img1.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="benefits-item-title">Beautiful Match-3 Puzzles</h3>
          <p class="benefits-item-text">
            Carefully designed levels with sparkling visuals and gentle
            animations.
          </p>
        </li>
        <li class="benefits-list-item">
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img2.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="benefits-item-title">Adorable Pet Companions</h3>
          <p class="benefits-item-text">
            Pets add charm, warmth, and personality to the journey.
          </p>
        </li>
        <li class="benefits-list-item">
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img3.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="benefits-item-title">Relaxing, Brain-Friendly Gameplay</h3>
          <p class="benefits-item-text">
            These puzzles won't make you question your life choices - promise.
          </p>
        </li>
        <li class="benefits-list-item">
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img4.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="benefits-item-title">Magical Boosts & Power-Ups</h3>
          <p class="benefits-item-text">
            Create special jewel combinations for satisfying effects.
          </p>
        </li>
        <li class="benefits-list-item">
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img5.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="benefits-item-title">Daily Events & Rewards</h3>
          <p class="benefits-item-text">
            Always something new to look forward to.
          </p>
        </li>
        <li class="benefits-list-item">
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img6.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="benefits-item-title">Offline Play</h3>
          <p class="benefits-item-text">
            Enjoy the game anywhere, even without an internet connection.
          </p>
        </li>
        <li class="benefits-list-item">
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img7.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="benefits-item-title">Global Leaderboards</h3>
          <p class="benefits-item-text">
            Compete playfully with players from around the world.
          </p>
        </li>
        <li class="benefits-list-item">
          <img
            class="benefits-img"
            src="./img/benefits/benefits-img8.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <h3 class="benefits-item-title">Community & Friends</h3>
          <p class="benefits-item-text">
            Connect with other players and share progress.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
