<section class="section community-section" id="community">
  <div class="section-title-wrapper community-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title community-title">COMMUNITY & SOCIAL PLAY</h2>
    </div>
  </div>
  <div class="community-bg-wrapper">
    <div class="container community-container">
      <p class="section-subtitle community-subtitle">
        Jewel Scapes feels better together.
      </p>
      <ul class="community-list">
        <li class="community-list-item">
          <p class="community-item-text">
            Light social interaction without forced competition
          </p>
        </li>
        <li class="community-list-item">
          <p class="community-item-text">
            In-game events shared by the community
          </p>
        </li>
        <li class="community-list-item">
          <p class="community-item-text">Friendly global leaderboards</p>
        </li>
        <li class="community-list-item">
          <p class="community-item-text">
            You play for yourself — but you’re never alone
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
