<section class="section contact-section" id="contact">
  <div class="section-title-wrapper contact-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title contact-title">CONTACT</h2>
    </div>
  </div>
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="contact-email-wrapper">
        <p class="contact-email-text">Have questions or feedback?</p>
        <a class="contact-email-link" href="mailto:jewelscapes@buildfun.cn">
          <svg class="email-icon" width="32" height="32">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
          jewelscapes@buildfun.cn</a
        >
      </div>
    </div>
  </div>
</section>
