<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <p class="hero-top-text">
        Okay, so I'm kinda tired of match-3 games that make me want to throw my
        phone across the room...
      </p>
      <picture>
        <source
          srcset="./img/hero/hero-img-desk.png"
          media="(min-width: 1440px)"
          width="1200"
          height="632" />
        <source srcset="./img/hero/hero-img-mob.png" width="303" height="487" />
        <img
          class="hero-img"
          src="./img/hero/hero-img-mob.png"
          alt="Screenshot of the game"
          width="303"
          height="487"
      /></picture>
      <div class="hero-btn-wrapper">
        <p class="hero-text">
          Match pretty gems, check out cool worlds, and just... relax.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=puzzlegame.buildfun.jewelscapes&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          Play Jewel Scapes
        </a>
      </div>
    </div>
  </div>
</section>
