<section class="section progression-section" id="progression">
  <div class="section-title-wrapper progression-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title progression-title">PROGRESSION & MOTIVATION</h2>
    </div>
  </div>
  <div class="progression-bg-wrapper">
    <div class="container progression-container">
      <p class="section-subtitle progression-subtitle">
        Screw up all you want - this game's not gonna shame you for it.
      </p>
      <ul class="progression-list">
        <li class="progression-list-item">
          <img
            class="progression-img"
            src="./img/progression/progression-img1.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <p class="progression-item-text">
            Unlimited levels with fresh mechanics
          </p>
        </li>
        <li class="progression-list-item">
          <img
            class="progression-img"
            src="./img/progression/progression-img2.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <p class="progression-item-text">Gradually increasing challenges</p>
        </li>
        <li class="progression-list-item">
          <img
            class="progression-img"
            src="./img/progression/progression-img3.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <p class="progression-item-text">Collect gems to unlock bonuses</p>
        </li>
        <li class="progression-list-item">
          <img
            class="progression-img"
            src="./img/progression/progression-img4.png"
            alt="Feature"
            width="56"
            height="56"
            loading="lazy"
          />
          <p class="progression-item-text">
            Achievements that reward consistency
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
