<section class="section world-section" id="world">
  <div class="section-title-wrapper world-title-wrapper">
    <div class="container section-title-container">
      <h2 class="section-title world-title">THE WORLD OF JEWEL SCAPES</h2>
    </div>
  </div>
  <div class="world-bg-wrapper">
    <div class="container world-container">
      <p class="section-subtitle world-subtitle">
        Jewel Scapes is not just a board — it’s a world.
      </p>
      <p class="world-text">
        Magical landscapes, colorful environments,, gentle transitions between
        areas – every world just feels... warm? Like your favorite coffee shop
        but with sparkly gems.<br />
        Seriously, even when I'm having a rough day, five minutes of this and I
        feel better.
      </p>
    </div>
  </div>
</section>
